target/classes/git-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6c0c5878-4c12-4785-bd55-6c57f3f888e0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-projectFlow" doc:id="a2c64dd8-fdfb-4102-9014-c9f91dcb22f0" >
		<http:listener doc:name="Listener" doc:id="a6b8b2ab-4a29-4682-abe8-55dada17797b" config-ref="HTTP_Listener_config" path="/git"/>
		<ee:transform doc:name="Transform Message" doc:id="bad0d86d-ac15-4aec-a21e-3c987e76b675" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
	"Pushing this to a git repo"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1ef76f64-641f-4ecd-85a1-3ddb76f34696" message="#[payload]"/>
	</flow>
</mule>
